<fieldset>
    <legend>
        <!--{{vm.title}}-->
        Search results
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <input type="text" class="txtshipping" name="filterpo" placeholder="Filter by PO" />
                    <input type="text" class="txtshipping" name="filterso" placeholder="Filter by SO" />
                    <input type="text" class="txtshipping" name="filtershiptocity" placeholder="Filter by City" />
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-5">
                    <button type="button" class="btn btn-primary btn-md pull-right btncustom">Add Confirm PU Date</button>
                    <button type="button" class="btn btn-primary btn-md pull-right btncustom">Add Ready PU Date</button>
                    <button type="button" class="btn btn-primary btn-md pull-right btncustom">Add Routed Date</button>
                    <button type="button" class="btn btn-primary btn-md pull-right btncustom">Add BOL #</button>
                </div>
                <div class="col-md-1 pull-right">
                    <button type="button" class="btn btn-primary btn-md pull-right btncustom">Add Note</button>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="panel panel-default" style="margin-bottom: 10px;">
                </div>
            </div>
            <div class="btn-group btn-group-justified">
                <a href="" class="btn btn-default">
                <span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span>
            </a>
                <a href="" class="btn btn-default">
                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
            </a>
                <a href="" class="btn btn-default">
                <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
            </a>
                <a href="" class="btn btn-default">
                <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span>
            </a>
            </div>
        </div>
        <br />
        <button type="button" class="btn btn-primary btn-md pull-right">Submit</button>
    </legend>
</fieldset>